body {
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Courier New', Courier;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: relative;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
}
 
#board {
    border: 2px solid #444;
}

 
#gameOverBox {
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
    display: none;
}

#scoreBox {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 18px;
    color: #00ff99;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
